<html>
  <head>
    <title>{{#if user.name}} {{user.name}} {{else}} Seevee {{/if}}</title>
    {{#if showTests}}
      <link rel="stylesheet" href="/vendor/mocha.css" />
    {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/sticky-footer.css" />
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" href="/">Seevee</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-link">
          <a class="nav-link" href="/signup">Sign-up / Sign-in</a>
        </li>
      </ul>
    </nav>
    {{{body}}}
    <footer class="footer sticky-footer">
      <div class="container">
        <span>Copyright {{const.year}}</span>
        <span class="float-right">stowcoal</span>
      </div>
    </footer>
    {{#if showTests}}
      <div id="mocha"></div>
      <script src="/vendor/mocha.js"></script>
      <script src="/vendor/chai.js"></script>
      <script>
        mocha.ui('tdd');
        var assert = chai.assert;
      </script>
      <script src="/test/tests-global.js"></script>
      {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
      {{/if}}
      <script>mocha.run();</script>
    {{/if}}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
