<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="employers-tab" data-toggle="tab" href="#employers" role="tab">Employers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="roles-tab" data-toggle="tab" href="#roles" role="tab">Roles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab">Security</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content p-3 border border-navbar-tabs border-top-0 rounded-bottom">
    <div class="tab-pane fade show active" id="profile" role="tabpanel">
      <form method="post" action="/account/profile">
        <div class="form-group">
          <label>First Name:</label>
          <input type="text" name="first_name" class="form-control" value="{{session.user.profile.first_name}}" />
        </div>
        <div class="form-group">
          <label>Last Name:</label>
          <input type="text" name="last_name" class="form-control" value="{{session.user.profile.last_name}}" />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" name="email" class="form-control" value="{{session.user.profile.email}}" />
        </div>
        <div class="form-group">
          <label>Street:</label>
          <input type="text" name="street" class="form-control" value="{{session.user.profile.street}}" />
        </div>
        <div class="form-group">
          <label>City:</label>
          <input type="text" name="city" class="form-control" value="{{session.user.profile.city}}" />
        </div>
        <div class="form-group">
          <label>State:</label>
          <input type="text" name="state" class="form-control" value="{{session.user.profile.state}}" />
        </div>
        <div class="form-group">
          <label>Zip:</label>
          <input type="text" name="zip" class="form-control" value="{{session.user.profile.zip}}" />
        </div>
        <div class="form-group">
          <label>Phone:</label>
          <input type="text" name="phone" class="form-control" value="{{session.user.profile.phone}}" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
    <div class="tab-pane fade" id="employers" role="tabpanel">employers</div>
    <div class="tab-pane fade" id="roles" role="tabpanel">roles</div>
    <div class="tab-pane fade" id="experience" role="tabpanel">experience</div>
    <div class="tab-pane fade" id="skills" role="tabpanel">skills</div>
    <div class="tab-pane fade" id="security" role="tabpanel">
      <form method="post">
        <div class="form-group">
          <label>Username:</label>
          <input type="text" name="username" class="form-control" value="{{session.user.username}}" />
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" name="password" class="form-control" value="{{session.user.password}}" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
