{{> sidebar this}}
<div class="col-10 ml-sm-auto">
  <div class="container-fluid py-2">
    <div>
      <h3>Employer Information</h3>
      <form method="post" action="/employer" id="upsertForm">
        {{#if employer._id}}
        <input type="hidden" name="_id" value="{{employer._id}}" />
        {{/if}}
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" value="{{employer.name}}" />
        </div>
      </form>
    </div>
    <div>
      <h3>Details</h3>
      {{#if employer.details}}
      <a onclick="$('#detailsForm').submit();" href="#">Add a detail.</a>
      <ul class="list-group">
      {{#each employer.details}}
        <li class="list-group-item">
          {{this.name}}
          <form method="post" id="{{this._id}}" action="/employer/{{../employer._id}}/details/{{this._id}}/delete" hidden></form>
          <button type="button" class="close" onclick="$('#{{this._id}}').submit();"><span>&times;</span></button>
        </li>
      {{/each}}
      </ul>
      {{else}}
      <div>You have no details for this employer. <a onclick="$('#detailsForm').submit();" href="#">Add a detail.</a></div>
      {{/if}}
    </div>
    <form method="post" action="/employer/{{employer._id}}/delete" id="deleteForm"></form>
    <form method="post" action="/employer/{{employer._id}}/details" id="detailsForm"></form>
    <button class="btn btn-primary" onclick="$('#upsertForm').submit();">Save</button>
    <button class="btn btn-danger float-right" onclick="$('#deleteForm').submit();">Delete</button>
  </div>
</div>
