{{> sidebar experience='active'}}
<div class="col-10 ml-sm-auto">
  <div class="container-fluid py-2">
    <div>
      <h3>Information</h3>
      <form method="post" action="/experience" id="upsertForm">
        {{#if experience._id}}
        <input type="hidden" name="_id" value="{{experience._id}}" />
        {{/if}}
        <div class="form-group">
          <label>Institution</label>
          <input type="text" name="institution" class="form-control" value="{{experience.institution}}" />
        </div>
        <div class="form-group">
          <label>Role</label>
          <input type="text" name="role" class="form-control" value="{{experience.role}}" />
        </div>
      </form>
    </div>
    <div>
      <h3>Details</h3>
      {{#if experience.details}}
      <a onclick="$('#detailsForm').submit();" href="#">Add a detail.</a>
      <div id="accordion">
      {{#each experience.details}}
        <div class="card">
          <div class="card-header">
            <a data-toggle="collapse" href="#collapse{{this._id}}">{{this.description}}</a>
          </div>
          <div id="collapse{{this._id}}" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <form method="post" action="/experience/{{../experience._id}}/detail" id="upsert{{this._id}}">
                <input type="hidden" name="_id" value="{{this._id}}" />
                <div class="form-group">
                  <label>Description</label>
                  <input class="form-control" type="text" name="description" value="{{this.description}}" />
                </div>
              </form>
              <form method="post" id="delete{{this._id}}" action="/experience/{{../experience._id}}/detail/{{this._id}}/delete" hidden></form>
              <button type="button" class="btn btn-primary" onclick="$('#upsert{{this._id}}').submit();">Save</button>
              <button type="button" class="btn btn-danger float-right" onclick="$('#delete{{this._id}}').submit();">Delete</button>
            </div>
          </div>
        </div>
      {{/each}}
      </div>
      {{else}}
      <div>You have no details for this experience. <a onclick="$('#detailsForm').submit();" href="#">Add a detail.</a></div>
      {{/if}}
    </div>
    <form method="post" action="/experience/{{experience._id}}/delete" id="deleteForm"></form>
    <form method="post" action="/experience/{{experience._id}}/detail" id="detailsForm"></form>
    <button class="btn btn-primary" onclick="$('#upsertForm').submit();">Save</button>
    <button class="btn btn-danger float-right" onclick="$('#deleteForm').submit();">Delete</button>
  </div>
</div>
