{{> sidebar active="resumes"}}
<div class="col-10 ml-sm-auto">
  <form method="post" action="/resumes" id="upsertForm">
    <input type="hidden" value="{{resume._id}}" name="_id" />
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="name" value="{{resume.name}}" />
    </div>
{{#each session.user.education}}
    <h4>Education</h4>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="education[]" {{#ifIn this._id ../resume.education}}checked{{/ifIn}}/>
        {{this.name}}
      </label>
    </div>
{{/each}}
    <h4>Work Experience</h4>
{{#each session.user.experiences}}
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="experiences[]" {{#ifIn this._id ../resume.experiences}}checked{{/ifIn}}/>
        {{this.name}}
      </label>
    </div>
{{/each}}
    <h4>Skills</h4>
{{#each session.user.skills}}
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="skills[]" {{#ifIn this._id ../resume.skills}}checked{{/ifIn}}/>
        {{this.description}}
      </label>
    </div>
{{/each}}
  </form>
  <form method="post" action="/resumes/{{resume._id}}/delete" id="deleteForm" hidden></form>
  <button class="btn btn-primary" onclick="$('#upsertForm').submit();">Save</button>
  <button class="btn btn-danger float-right" onclick="$('#deleteForm').submit();">Delete</button>
</div>
