<div class="container my-2">
  <h3 class="text-center">{{user.profile.first_name}} {{user.profile.last_name}}</h1>
  <hr />
  <div class="text-center">{{user.profile.street}}</div>
  <div class="text-center">{{user.profile.city}}, {{user.profile.state}} {{user.profile.zip}}</div>
  <div class="text-center">{{user.profile.phone}}</div>
  <div class="text-center">{{user.profile.email}}</div>
{{#if user.education}}
  <div class="row">
    <div class="col-2">
      <strong>Education</strong>
    </div>
    <div class="col-10">
{{/if}}
{{#each user.education}}
      <div class="d-flex justify-content-between">
        <div><em>{{this.name}}</em></div>
        <div><em>{{this.graduation.month}} {{this.graduation.year}}</em></div>
      </div>
      <div>
        {{this.degree}}
      </div>
{{/each}}
{{#if user.education}}
    </div>
  </div>
{{/if}}
<br />

{{#if user.experiences}}
  <div class="row">
    <div class="col-2">
      <strong>Experience</strong>
    </div>
    <div class="col-10">
{{/if}}
{{#each user.experiences}}
      <div class="d-flex justify-content-between">
        <div class="text-italic"><em>{{this.role}}</em></div>
        <div class=""><em>{{this.start.month}} {{this.start.year}}-{{this.end.month}} {{this.end.year}}</em></div>
      </div>
      <div>
        {{this.name}}
      </div>
      <ul>
{{#each this.details}}
        <li>
          {{this.description}}
        </li>
{{/each}}
      </ul>
      <br />
{{/each}}
    </div>
{{#if user.experiences}}
  </div>
{{/if}}
<br />

{{#if user.skills}}
  <div class="row">
    <div class="col-2">
      <strong>Skills</strong>
    </div>
    <div class="col-10">
{{/if}}
{{#each user.skills}}
  {{this.description}}{{#unless @last}},{{/unless}}
{{/each}}
{{#if user.skills}}
    </div>
  </div>
{{/if}}
</div>
